# Example config file for lide220

version = "1.0";
config = 
{
	beep_freq = 6000;
	beep_duration = 50;
	sane_server = "127.0.0.1";
	#sane_server = "[::1]";
};
buttons = (
  {
    name = "file";
    action = "append";
    resolution = 300;
    mode = "lineart";
  },
  {
    name = "extra";
    action = "pdf";
    folder = "/mnt/usb";
  },
  {
    name = "copy";
    action = "print";
    resolution = 300;
    mode = "color";
  },
  {
    name = "email";
    action = "none";
  },
  {
    name = "scan";
    action = "scan";
    resolution = 600;
    mode = "gray";
    folder = "/mnt/usb";
  }
);
